{%load static%} 
<!doctype html>
<html lang="ko">
    <head>
        <!--Required meta tags-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <!--bootstrap css
        <link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap.min.css'%}">-->
        <link rel="stylesheet" type="text/css" href="{%static 'css/styles copy.css'%}">
        <title>paSongEgg-demo</title>
    </head>
    <body>
        {%include 'navbar.html'%}
        <!--기본 템플릿 안에 삽입될 내용 start-->
        {%block content%}
        {%endblock%}
        <!--기본 템플릿 안에 삽입될 내용 end-->
    <!--커스텀 JS-->
    <script src="{% static 'js/feature.js' %}"></script>
    <!-- jQuery JS 
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <!-- Bootstrap JS 
    <script src="{% static 'js/bootstrap.min.js' %}"></script>-->
    </body>
</html>