<form method="get" oninput="news_num = number.valueAsNumber">
    <div style="width:20px;"></div>
    <div class="theme" style="position: relative;left:10%">
        <a class="home_button_changeOption" href="/">통합</a>      
        <label class="button_theme" for="섹션1"><input type="radio" name="theme" id="섹션1" value="정치">정치</label>
        <label class="button_theme" for="섹션2"><input type="radio" name="theme" id="섹션2" value="경제">경제</label>
        <label class="button_theme" for="섹션3"><input type="radio" name="theme" id="섹션3" value="사회">사회</label>
        <label class="button_theme" for="섹션4"><input type="radio" name="theme" id="섹션4" value="생활">생활/문화</label>
        <label class="button_theme" for="섹션5"><input type="radio" name="theme" id="섹션5" value="IT">IT/과학</label>
        <label class="button_theme" for="섹션6"><input type="radio" name="theme" id="섹션6" value="세계">세계</label>
        <button class="home_button_changeOption" type="submit" value="GO">Go</button>
    </div>
</form>
