{% extends 'base.html' %}
{% block content %} 
<div class="home_container">
    {%include "summ/floating_section.html"%}
    <div class="news-list">
        <h3>section</h3>
        <hr>
        {%if politic_list %}
        <h5>정치</h5>
        <hr>
        {%for sec in politic_list%}
        <span>{{sec.keyword}}</span> 
        {%endfor%}
        {%endif%}
        <br><br>
        {%if economy_list %}
        <h5>경제</h5>
        <hr>
        {%for sec in economy_list%}
        <span>{{sec.keyword}}</span> 
        {%endfor%}
        {%endif%} 
        <br><br>
        {%if society_list %}
        <h5>사회</h5>
        <hr>
        {%for sec in society_list%}
        <span>{{sec.keyword}}</span> 
        {%endfor%}
        {%endif%}
        <br><br>
        {%if life_list %}
        <h5>생활/문화</h5>
        <hr>
        {%for sec in life_list%}
        <span>{{sec.keyword}}</span> 
        {%endfor%}
        {%endif%} 
        <br><br>
        {%if science_list %}
        <h5>IT/과학</h5>
        <hr>
        {%for sec in science_list%}
        <span>{{sec.keyword}}</span> 
        {%endfor%}
        {%endif%}
        <br><br>
        {%if world_list %}
        <h5>세계</h5>
        <hr>  
        {%for sec in world_list%}
        <span>{{sec.keyword}}</span> 
        {%endfor%}
        {%endif%}
        <br><br>
        <h3>comment</h3>
        <hr>
        {%if com_list %} 
        {%for com in com_list%}
        <span>{{com.keyword}}</span> 
        {%endfor%}
        {%endif%}
        <br><br>
        <h3>popular</h3>
        <hr>
        {%if pop_list %} 
        {%for pop in pop_list%}
        <span>{{pop.keyword}}</span> 
        {%endfor%}
        {%endif%}
    </div>
</div>

{% endblock %} 