{% extends 'base.html' %}
{% block content %} 

<div class="main-container">
    {%include "summ/floating_section.html"%}
    <div class="section-keyword">
        <div>
            <span class="section-name">전체</span>
            {%for sec in keyword_list%}
            <span class="section-keywords">{{sec.keyword}}</span>
            {%endfor%}
        </div>
    </div>
    <div class="news-list">
        <table id="newsTable" class="news-table-container">
            <thead class="table-head" style="text-align: center;">
                <tr>
                    <th class="news-table-click" value="date">날짜</th>
                    <th>언론사</th>
                    <th class="news-table-click" value="comment">댓글수</th>
                    <th class="news-table-click" value="reading">소요시간(초)</th>
                    <th>제목</th>
                </tr>
            </thead>
            <tbody>
                {%if news_list %}
                {%for news in news_list%}
                <tr>
                    <td>{{news.date|date:"y.m.d"}}</td>
                    <td>{{news.press}}</td>
                    {%if news.comment != 0 %} 
                    <td id="newsView" value="{{news.comment}}">
                        {{news.comment}}
                    </td>
                    {% else %} 
                    <td id="newsView" value="{{news.comment}}">
                        -
                    </td>
                    {%endif%}
                    <td>{{news.reading}}</td>
                    <td class="news-table-align" id="newsTitle" onclick="window.open(this.getAttribute('value'),'_blank');" value="{{news.link}}" style="text-overflow: ellipsis;
                    overflow: hidden;">
                        <div>
                        {%for keyword in news.new_keywords%}
                            <span class="news-keywords">#{{keyword}}</span>
                        {%endfor%}
                        </div>
                        <div>{{news.title}}</div>
                    </td>
    
                </tr>
                {%endfor%}
                {%else%}
                <tr>
                    <td colspan="7">해당 기사가 없습니다.</td>
                </tr>
    
                {%endif%}
            </tbody>
        </table>
    </div>
</div>

{% endblock %} 