{% extends 'base.html' %}
{% block content %} 

<div class="main-container">
    {%include "summ/floating_section.html"%}
    <div class="news-list">
        <table id="newsTable" class="news-table-container">
            <thead class="table-head" style="text-align: center;">
                <tr>
                    <th class="news-table-click" onclick="orderDirect('date');">날짜</th>
                    <th>언론사</th>
                    <th class="news-table-click" onclick="orderDirect('views');">조회수</th>
                    <th class="news-table-click" onclick="orderDirect('reading');">소요시간(분)</th>
                    <th>제목</th>
                    <th>키워드</th>
                </tr>
            </thead>
            <tbody>
                {%if news_list %}
                {%for news in news_list%}
                <tr>
                    <td>{{news.date|date:"y-m-d"}}</td>
                    <td>{{news.press}}</td>
                    {%if news.views != 0 %} 
                    <td id="newsView" value="{{news.views}}">
                        {{news.views}}
                    </td>
                    {% else %} 
                    <td id="newsView" value="{{news.views}}">
                        -
                    </td>
                    {%endif%}
                    <td>{{news.reading}}</td>
                    <td class="news-table-align" id="newsTitle" onclick="window.open(this.getAttribute('value'),'_blank');" value="{{news.link}}">
                        {{news.title}}
                    </td>
                    <td class="news-table-align" >{{news.keywords}}</td>
    
                </tr>
                {%endfor%}
                {%else%}
                <tr>
                    <td colspan="3">해당 기사가 없습니다.</td>
                </tr>
    
                {%endif%}
            </tbody>
        </table>
    </div>
</div>

{% endblock %} 